
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Merienda&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 357deg
                                        ,transparent 0,rgba(0,0,0,-1.1) 1%, 
                                        rgba(0,0,0,.5) 1%,
                                        rgba(0,0,0,.61) 8%, 
                                        rgba(0,0,0,.8) 95%,
                                        rgba(0,0,0,.8)), 
                                        url(../Logo-home/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.mini-nmeSite h1{
    font-family: 'Merienda', cursive;
    font-size: 14px;
    font-weight: 100;
    color: bisque;
    text-transform: uppercase;
}

.nmeSite h1{
    font-family: 'Merienda', cursive;
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 100;
    color: white;
    margin: 0;
    text-align: center;
}

.header .wel{
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    color: rgb(241, 156, 52);
    text-align: center;
}


.top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.JiiH{
    display: flex;
    list-style: none;
    padding: 0;
}

.JiiH li{
    padding: 10px 40px;
    color: blanchedalmond;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 5px;
    transition: .5s;
    cursor: pointer;
}

.JiiH .entour{
    border: 1px solid blanchedalmond;
}

.JiiH li:hover{
    background-color: rgba(255, 255, 255, .1);
}

.center-Head .slogan{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24px;
    color: rgb(173, 137, 93);
    text-align: center;
    letter-spacing: 30px;
}

a{
    text-decoration: none;
}

.ctn{
    display: grid;
}

.contain-accueil{
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.top-ACC{
    display: grid;
    grid-template-columns: 50px 100px 1fr;
    grid-template-rows: 50px 50px 100px 20px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 69px 0;
    padding: 80px 0px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;;
}

.img-HY img{
    width: 100%;
}

.top-ACC .img-HY{
    max-width: 570px;
    width: 570px;
    grid-area: 1/4/6/4;
}

.new{
    grid-area: 1/1/5/4;
    font-size: 23vmin;
    color: #efefef;
    text-transform: uppercase;
}

.sale{
    grid-area: 2/2/3/4;
    font-size: 6.5vmin;
    color: #d96528;
}

.collection{
    grid-area: 3/3/4/4;
    font-size: 8.5vmin;
}

.details{
    grid-area: 4/2/5/4;
    font-size: 2vmin;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: 'Encode Sans SC', sans-serif;
    letter-spacing: 10px;
}

.bottom_head{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2vmin;
    letter-spacing: .2em;
}

.bloc_G_CA{
    margin: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient( 357deg
                                        ,transparent 0,rgba(0,0,0,-1.1) 1%, 
                                        rgba(0,0,0,.5) 1%,
                                        rgba(0,0,0,.61) 8%, 
                                        rgba(0,0,0,.8) 95%,
                                        rgba(0,0,0,.8)), 
                                        url(../Logo-home/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}

.bloc_1_CA{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    border: 1px solid lightblue;
    padding: 40px 50px;
    font-family: 'Titillium Web', sans-serif;
    border: none;
    
}

.bloc_1_CA:nth-child(2n){
    border-left: 1px solid blanchedalmond;
    border-right: 1px solid blanchedalmond;
}

.bloc_1_CA .lgo{
    font-size: 45px;
    color: rgb(223, 153, 49);
    
}

.txt-gras{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: burlywood;
    text-align: center;
}

.Gyg{   
    color: white;
    text-align: center;
}

.addBox-shadow{
    background: rgba(0,0,0,1);
}