<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mystery Box</title>
</head>

<body>
    <div id="app_prise">
        <header class="header">
            <div class="top">
                <div class="mini-nmeSite">
                    <h1>Mystery Box</h1>
                </div>
                <nav class="navigation">
                    <ul class="JiiH">
                        <router-link to="/">
                            <li>Accueil</li>
                        </router-link>
                        <router-link to="/Tous">
                            <li>Tous</li>
                        </router-link>
                        <router-link to="/Femmes">
                            <li>Femmes</li>
                        </router-link>
                        <router-link to="/Homme">
                            <li>Homme</li>
                        </router-link>
                        <router-link to="/Panier">
                            <li class="entour">Panier</li>
                        </router-link>
                    </ul>
                </nav>
            </div>

            <div class="center-Head">
                <div class="wel">Welcome</div>
                <div class="nmeSite">
                    <h1>Mystery Box</h1>
                </div>
                <div class="slogan">Luxury specialty</div>
            </div>
            <div class="bottom_head">
                <div>Hauts</div>
                <div>Chaussures</div>
                <div>Montres</div>
                <div>Bas</div>
                <div>Polo</div>
                <div>Chemises</div>
            </div>
        </header>

        <div class="containVue">
            <router-view></router-view>
        </div>

    </div>

    <script type="text/x-template" id="accueil">
        <div class="contain-accueil">
            <div class="top-ACC">
                <div class="img-HY"><img src="./Produit/Men/sneakers/2.png" alt="New shoes"></div>
                <div class="new">New</div>
                <div class="sale">Men Shoes</div>
                <div class="collection">Collection</div>
                <div class="details">It's an italian style</div>
            </div>

            <div class="bloc_G_CA center_1">
                <div class="bloc_1_CA">
                    <div class="lgo"><i class="far fa-calendar-check"></i></div>
                    <div class="txt-gras">SERVICE CLIENT 24H/24 ET 7J/7</div>
                    <div class="Gyg">Appelez-nous à tout moment</div>
                </div>
                <div class="bloc_1_CA">
                    <div class="lgo"><i class="fas fa-laptop"></i></div>
                    <div class="txt-gras">RETOURS EN LIGNE FACILES</div>
                    <div class="Gyg">Envoyer dans les 15 jours</div>
                </div>
                <div class="bloc_1_CA">
                    <div class="lgo"><i class="fas fa-truck-moving"></i></div>
                    <div class="txt-gras">LIVRAISON GRATUITE DANS LE MONDE</div>
                    <div class="Gyg">Livraison en 72H</div>
                </div>
            </div>
            <div class="center_2">
                <div class="top-ACC">
                    <div class="img-HY"><img src="./Produit/Men/sneakers/1.png" alt="New shoes"></div>
                    <div class="new">-30%</div>
                    <div class="sale">Ventes Partout</div>
                    <div class="collection">L'ete</div>
                    <div class="details">Sur tous les accéssoires</div>
                </div>
            </div>

            <div class="Hujk prouduit-populaire">
                <div class="container-3D" v-for="dataUses in dataUse">
                    <div class="JHgb">
                        <div class="front">
                            <div class="front-contain">
                                <div class="Hujk_1">
                                    <div class="img_"><img :src="dataUses.img" alt=""></div>
                                    <div class="name_">{{dataUses.name}}</div>
                                    <div class="prix_">{{dataUses.price}}£</div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-contain">
                                <div class="contain-start">
                                    <span v-for="n in 5" class="" :class="{bgspan: n <= dataUses.starrating }"></span>
                                </div>
                                <div class="Work">
                                    {{dataUses.description}}
                                </div>
                                <div class="contact">
                                    autre couleur : {{dataUses.color}}
                                </div>
                                <div class="localisation">
                                    <div class="Voir_arct"><button class="btn_vue_artc">Voir article</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kkOJ">
                <div class="KKKlo">
                    <div class="llHYh">
                        <div class="title"><h1>"Mastery-box vous propose tout un panel de choix, et tous les styles sont avancés quelqu'en soit les saisons"</h1></div>
                        <div class="logo">Mastery-box</div>
                    </div>
                    <div class="Pkh">If you have a taste for luxury</div>
                </div>
            </div>
        </div> 
    </script>

    <script type="text/x-template" id="tous">
        <div  class="ctn_Tous">
            <div v-for="api in Api">
                <div>{{api.price}}</div><br>
                <div>{{api.producName}}</div><br>
                <div>{{api.description}}</div><br>
                <div>{{api.producS_Name}}</div><br>
            </div>
        </div>
    </script>

    <!-- Inclusion font-awsome for icon  -->
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>

    <!-- Importation de jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Importation Vuejs ... -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

    <!-- Imporation de interfaces Vue.js -->

    <script src="./Vue.js"></script>
    <script src="./App.js"></script>
    


</body>

</html>