@import url('./CSS/Accueil/header.css');
@import url('./CSS/Accueil/part_3.css');
@import url('./CSS/Accueil/Pub_1.css');
@import url('./CSS/Accueil/part_4.css');


*, :after, :before{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
}

#app_prise{
    width: 100vw;
}



