@import url('./CSS/header.css');

*, :after, :before{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient( 
180deg
, transparent 0,rgba(0,0,0,-1.1) 1%, rgba(0,0,0,.5) 1%, rgba(0,0,0,.61) 8%, rgba(0,0,0,.8) 95%, rgba(0,0,0,.8));
}