    .ctn_Tous{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        
    }

    .contain_Polk{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100vw;
        margin-top: 100px;
    }

    .Lmpl{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 300px;
        background-color: #001d3d;
        padding: 20px;
        font-family:'Julius Sans One', sans-serif ;
        position: relative;
        border: 1px solid #000;
        color:white;
    }
  

    .kOpmk{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
  

  .range_slid{
      -webkit-appearance: none;
      height: 5px;
      width: 100%;
      background-color: #fff;
  }

  .vlr{
      width: 200px;
  }
  .vlr span{
    position: absolute;
    top: -59px;
    height: 50px;
    width: 50px;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
}

.vlr span::after{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #234263;
}

.range_slid::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.lldok{
    position: relative;
}

.MBHi{
    height: 535px;
    width: 300px;
    background: #001d3d;
    padding: 20px;
    clip-path: polygon(0 14%, 100% 0, 100% 84%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MBHi h1{
    color: blanchedalmond;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
}

.MBHi .LLLki{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 13px;
    margin: 15px 0;
}

.slid_{
    background-color: #234263;
}