.top-ACC{
    display: grid;
    grid-template-columns: 50px 100px 1fr;
    grid-template-rows: 50px 50px 100px 20px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 69px 0;
    padding: 80px 0px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;;
}

.img-HY img{
    width: 100%;
}

.top-ACC .img-HY{
    max-width: 570px;
    width: 570px;
    grid-area: 1/4/6/4;
}

.new{
    grid-area: 1/1/5/4;
    font-size: 23vmin;
    color: #efefef;
    text-transform: uppercase;
}

.sale{
    grid-area: 2/2/3/4;
    font-size: 6.5vmin;
    color: #d96528;
}

.collection{
    grid-area: 3/3/4/4;
    font-size: 8.5vmin;
}

.details{
    grid-area: 4/2/5/4;
    font-size: 2vmin;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: 'Encode Sans SC', sans-serif;
    letter-spacing: 10px;
}

.bottom_head{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2vmin;
    letter-spacing: .2em;
}